/*
Define parameters
*/
params{
    samplesheet = "sample-sheet.csv"
    platform = 'illumina'
}

/*
Profile 
*/
profiles {
    docker {
        docker.enabled = true
    }
    conda {
        conda.enabled = true
    }
    test {
        params.samplesheet = "${projectDir}/test/sample_sheet.csv"
    }
}

/*
process
*/
process{
    withName: RUN_FASTQC{
        conda = "${projectDir}/envs/quality_control.yml"
        container = "quay.io/biocontainers/fastqc:0.11.2--1"
    }

    withLabel: 'low' {
        cpus = 2
        memory = 2.GB
    }
}

/*
Outputs setting
*/
outputDir = "results"
workflow.output.mode = "copy"