/*
Define parameters
*/
params{
    samplesheet = "sample-sheet.csv"
    platform = 'illumina'
    max_cpus = 16
    contaminant_refpath = null
    contaminant_refname = null
}

/*
Profile 
*/
profiles {
    docker {
        docker.enabled = true
        docker.fixOwnership = true
        docker.runOptions   = '-u $(id -u):$(id -g)'
    }

    conda {
        conda.enabled = true
    }

    test {
        params.samplesheet = "${projectDir}/test/sample_sheet.csv"
    }
}

/*
process
*/
process{
    //Names
    withName: RUN_FASTQC{
        conda = "${projectDir}/envs/quality_control.yml"
        container = "quay.io/biocontainers/fastqc:0.11.2--1"
    }
    withName: RUN_FASTP{
        conda = "${projectDir}/envs/quality_control.yml"
        container = "quay.io/biocontainers/fastp:0.20.1--h8b12597_0"
    }
    withName: RUN_BOWTIE2_BUILD_INDEX{
        conda = "${projectDir}/envs/bowtie2.yml"
        container = "quay.io/biocontainers/bowtie2:2.5.5--ha27dd3b_0"
    }
    withName: RUN_BOWTIE2_REMOVE_REF{
        conda = "${projectDir}/envs/bowtie2.yml"
        container = "quay.io/biocontainers/bowtie2:2.5.5--ha27dd3b_0"
    }

    //Labels
    withLabel: 'low' {
        cpus = 2
        memory = 2.GB
    }
    withLabel: 'high'{
        cpus = { Math.min(8, params.max_cpus as int) }
    }
}

/*
Outputs setting
*/
outputDir = "results"
workflow.output.mode = "copy"